@font-face {
  font-family: 'PT Serif';
  src: 
    url(fonts/ptserif_bold.woff2) format('woff2'), 
    url(fonts/ptserif_bold.woff) format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    url(fonts/roboto_medium.woff2) format('woff2'),
    url(fonts/roboto_medium.woff) format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: 
    url(fonts/roboto_regular.woff2) format('woff2'),
    url(fonts/roboto_regular.woff) format('woff');
  font-weight: normal;
  font-style: normal;
}
