body {
  margin: 0;
}

.wrapper {
  margin: auto;
  width: 80%;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 130px;
  padding: 0 0 0 4px;
}

.logo {
  padding: 40px 0 40px 44px;
  position: relative;
  font: bold 24px/31px PT Serif, arial, sans-serif;
}

.logo__circle {
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
  opacity: .7;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.logo__circle_color_blue {
  left: 8px;
  top: 46%;
  background: #c8dbfb;
  opacity: .7;
}

.menu {
  display: flex;
  padding: 2px 11px 0 0;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 500 18px/21px Roboto, arial, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity .5s;
}

.menu_adapt {
  display: none;
}

.menu__item_active::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item::after {
  position: absolute;
  display: block;
  content: '';
  left: 0;
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity .5s, width .5s;
}

.menu__item:hover {
  opacity: .5;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

.menu__item:last-child {
  margin-right: 0;
}

.main {
  padding: 0 65% 100% 0;
  background: top right 5px no-repeat url("../img/mainImg.svg");
}

.main__title {
  margin: 0 0 35px 0;
  font: bold 66px/88px PT Serif, arial, sans-serif;
  padding: 73px 0 0 3px;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 60px 0;
  font: normal 22px/26px Roboto, arial, sans-serif;
  padding-left: 3px;
}

.main__button {
  padding: 18px 28px;
  border-radius: 4px;
  background-color: rgb(53, 53, 199);
  color: white;
  font: 500 18px/21px Roboto, arial, sans-serif;
  text-decoration: none;
  transition: .5s;
}

.main__button:hover {
  opacity: .5;
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .header {
    margin-bottom: 28px;
  }
  
  .logo__text {
    display: none;
  }

  /* .menu_adapt {
    display: block;
    color: #0056ec;
  /* } */ ТУУТ */

  .main {
    text-align: center;
    padding: 74% 0 0;
    background-size: 74%;
    background-position: top center;
  }

  .main__title {
    margin-bottom: 44px;
    font: bold 30px/39px PT Serif, arial, sans-serif;
  }
  
  .main__subtitle {
    margin-bottom: 25px;
    font: normal 16px/19px Roboto, arial, sans-serif;
  }
  
  .main__button {
    font: 500 14px/16px Roboto, arial, sans-serif;
  }
}
